@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

.aside-column {
    padding: 1em;
    text-align: center;
    box-shadow: 1px 0px 1px #198754;
}

h1 {
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
}

.cards:hover {
    width: 17rem;
    cursor: pointer;
}