@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

.aside-column {
    padding: 1em;
    text-align: center;
    box-shadow: 1px 0px 1px #198754;
}

h1 {
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
}

.back-arrow {
    position: relative;
    left: -1em;
    font-size: 1.5em;
    cursor: pointer;
    margin-right: 85%;
    margin-bottom: 1em;
}

.back-arrow2 {
    position: relative;
    left: -25em;
    font-size: 1.5em;
    cursor: pointer;
    margin-right: 85%;
    margin-bottom: 1em;
}


.cards:hover {
    width: 17rem;
    cursor: pointer;
}

.text {
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
}

.instructions {
    font-family: "Nerko One", cursive;
    font-weight: 300;
    font-size: 30px;
    text-align: justify;
}

.listElem {
    font-family: "Nerko One", cursive;
    font-weight: lighter;
    font-size: 23px;
    text-align: justify;
}

@media (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

@media (max-width: 576px) {
    body {
        overflow-x: hidden;
    } 

    .aside-column {
        transform: translateX(-100%);
        transition: transform 0.5s ease-in-out;
    }

    .mobile-menu {
        position: absolute;
        top: 10px;
        font-size: 25px;
        cursor: pointer;
        z-index: 1;
        color: black;
    }

    .images {
        width: 100%;
    }

    .images svg {
        width: 34%;
    }


    .mobile-column {
        margin-top: -600px !important;
    }

    .back-arrow {
    position: relative;
    left: -0.3em;
    font-size: 1.5em;
    cursor: pointer;
    margin-right: 85%;
    margin-bottom: 1em;
}

.back-arrow2 {
    position: relative;
    left: -6em;
    font-size: 1.5em;
    cursor: pointer;
    margin-right: 85%;
    margin-bottom: 1em;
}
}